#!/bin/bash

# options
ANSIBLEUSER="velociraptor"
BRANCH="{{ branch | default('master') }}"
LOGFILE="/var/log/ansible.log"
REPO="{{ upstream | default('https://github.com/homeofficehost/neoansible') }}"

VAULT_ID="{{ username }}"
PRECMD="sudo systemd-inhibit --who='ansible-pull' --why='provisioning'"

# check if ansible-pull is already running, and if not, run it
if pgrep -f ansible-pull; then
    printf "\n$(date +"%Y-%m-%d %H:%M:%S") A running ansible-pull process was found.\nExiting.\n"\
        |tee -a $LOGFILE
    exit 1
else
    if [ ! $1 == "" ]; then
        $PRECMD sudo -iH --user $ANSIBLEUSER ansible-pull --vault-id "${VAULT_ID}@gopass-client.py" --url $REPO --limit $(cat /etc/hostname).local --checkout $BRANCH --tags $1 2>&1
    else
        $PRECMD sudo -iH --user $ANSIBLEUSER ansible-pull --vault-id "${VAULT_ID}@gopass-client.py" --only-if-changed --url $REPO --limit $(cat /etc/hostname).local --checkout $BRANCH 2>&1
    fi
fi
